@media (max-width: 768px) {
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

/* ----------------------------------------------------------- */

@media (min-width: 769px) and (max-width: 1024px) {
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

/* ----------------------------------------------------------- */

@media (min-width: 1025px) {
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
