.cardHero {
  width: 100%;
  height: 80px;
  display: flex;
  margin-bottom: 14px;
  padding: 1%;
}

.cardHero:hover {
  box-shadow: 0 0 0 3px #09346d;
  cursor: pointer;
  } 

.detalles {
  width: calc(100% - 80px);
  height: 80px;
  display: flex;
  flex-direction: column;
  padding: 0px 5px 5px 10px;
} 

.detalles p {
  font-size: 12px;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
}

.heroBox {
  height: 74px;
  width: 74px;
  background-color: blue;
  border-radius: 5px;
}

.titulo {
  display: flex;
  align-items: flex-end;
  margin: 0 0 10px 0;
}

.textTitle {
  font-size: 15px;
  font-weight: 600;
}

.icono {
  font-size: 22px;
  margin-left: 5px;
}
